<div class='container' ng-controller="HomeCtrl">
  
  <div class='row'>
    <h1>{{ title }}</h1>
  </div>
  <div class='row'>
    <form>
      <label>Search for tweets by Hashtag:
        <input type="text" name="input" ng-model="query.text" required ng-trim="false">
      </label>
      <button type='submit' ng-click='onClickSearch()'>Search</button>
    </form>
  </div>

  <div ng-show='searched'>
    <div class='row' ng-show="tweets.length == 0">
      <p>Sorry #{{ query.text }} is not a popular Hashtag, try another one like 911, Clinton, Trump...etc</p>
    </div>
    <div ng-hide="tweets.length == 0">
      <div class='row' >
        <h3>#{{ query.text }} Search Result</h3>
      </div>
      <div class='row' ng-repeat='tweet in tweets'>
        <p class='col-xs-12'><a href="{{ tweet.url }}" target="_blank">@{{ tweet.screen_name }}</a> said that... "<span>{{ tweet.text }}</span>" so far its been liked <strong>{{ tweet.favorite_count }}</strong> times and retweeted <strong>{{ tweet.retweet_count }}</strong></p>
      </div>
    </div>
  </div>
 

  <div class='row'>
    <h2>Our great past searches</h2>
  </div>

  <div ng-repeat='search in searches'>
    <div class='row'>
      <a ng-click="onClickSearchedItem(search)"><h3>#{{ search.query }}</h3></a>
    </div>
    <div ng-show='search.tweets' class='row'>
      <div ng-show="search.tweets.length > 0" ng-repeat='tweet in search.tweets'>
        <p class='col-xs-12'><a href="{{ tweet.url }}" target="_blank">@{{ tweet.screen_name }}</a> said that... "<span>{{ tweet.text }}</span>" so far its been liked <strong>{{ tweet.favorite_count }}</strong> times and retweeted <strong>{{ tweet.retweet_count }}</strong></p>
      </div>
      <div ng-show="search.tweets === []">
        <p>Their were no really good tweets sorry.</p>
      </div>
    </div>
  </div>

</div>